$header-height: 60px;
$mobile-gutter: 1.5rem;
$tablet-gutter: 2rem;
$desktop-gutter: 3rem;

*,
body,
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
}

body {
  &[data-state="inactive"] {
    overflow: hidden;
  }
}

.page-center {
  max-width: 960px;
  margin: 0 auto !important;
  float: none !important;
}

//Hubspot Specific
.widget-type-raw_jinja {
  min-height: 0 !important;
}

.widget-type-raw_html {
  min-height: 0 !important;
}

@media all and (min-width: 37.5rem) {
  [data-device="mobile"] {
    display: none !important;
  }
}
