$black: #000;
$white: #fff;
$gray: #474747;
$light-gray: #bbb;

$primary200: #f9b750;
$primary300: #ffa921;
$primary500: #d78400;

$secondary200: #d4b9ff;
$secondary300: #bb90ff;
$secondary500: #a166ff;

$background600: #251f1f;
$background800: #141111;

$body-color: $black;
$header-color: $black;
