$black: #000;
$white: #fff;
$gray: #474747;
$light-gray: #bbb;

$primary: #f04848;
$primary-light: #fa6969;

$secondary500: #4c75c2;
$secondary300: #7590c2;
$secondary200: #a8b8d5;

$body-color: $black;
$header-color: $black;
